<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-md-3">

             <div class="well">
                <ul class="nav nav-stacked" id="sidebar">
                    <li><a href="#sec1">Dashboard</a></li>

                    <li><a href="/catalog">My Catalog</a></li>
                    <li class="dropdown">
                        <a  class="dropdown-toggle" role="button" data-toggle="dropdown">Marketplace<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" href="#">Smart Parking</a>
                            </li>
                            <li role="presentation"><a role="menuitem" href="#">Safety and Security</a>
                            </li>
                            <li role="presentation"><a role="menuitem" href="#">Digital Signage</a>
                            </li>
                            <li role="presentation"><a role="menuitem" href="#">Energy and Facility Management</a>
                            </li>
                        </ul>
                    </li>



                </ul>

            </div>
        </div>
        <div class="col-sm-9">


            <div class="jumbotron">
                <h1>My Catalog</h1>


                <div class="row">
                    <div class="col-sm-4">
                        <div align="center" class="well stat">
                            <a href="/new-service">
                                <img class="logo" src="images/add.png">
                                <div class="stat-label">Create New Service</div>
                            </a>

                        </div>
                    </div>


                    <%serviceData.forEach(function(sData){%>
                    <div class="col-sm-4">
                        <div align="center" class="well stat">
                            <div class="stat-label"><%=sData.service_name%></div>
                            <a href="/my-service/<%= sData.service_id %>">
                                <img class="logo" src="images/smart_parking_cyberjaya.png">
                                <div class="stat-label">Edit Service</div>
                            </a>

                        </div>
                    </div>
                    <% }); %>


                </div>
            </div>

        </div>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>

