<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-md-3">

            <div class="well">
                <ul class="nav nav-stacked" id="sidebar">
                    <li><a href="#sec1">Dashboard</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown">Marketplace<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" href="#">Smart Parking</a>
                            </li>
                            <li role="presentation"><a role="menuitem" href="#">Safety and Security</a>
                            </li>
                            <li role="presentation"><a role="menuitem" href="#">Digital Signage</a>
                            </li>
                            <li role="presentation"><a role="menuitem" href="#">Energy and Facility Managementabout.ejs</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/catalog">My Catalog</a></li>

                </ul>

            </div>

        </div>
        <div class="col-sm-9">


            <div class="jumbotron">
                <h1>Create New Service</h1>


                <div class="row">
                    <div class="col-sm-4">
                        <div align="center" class="well stat">
                            <a href="/login">
                                <img class="logo" src="images/add.png">
                                <div class="stat-label">Create New Service</div>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well stat">
                            <div class="stat-value day-of-month">--</div>
                            <div class="stat-label">Day of Month</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well stat">

                            <div class="stat-value week-of-year">--</div>
                            <div class="stat-label">Week of Year</div>
                            <div class="stat-label">Week of Year</div>
                            <div class="stat-label">Week of Year</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>

